body {
    font-family: Arial;
    background-color: lightgray;
    /*display: flex;*/
    color: white;
}

.navbar{
    background-color: white;

}
.nav-link{
    color: black;
}
.nav-link:hover{
    color: white;
    background-color: darkgray;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}




.left {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;


}

.middle {
    width: 65%;
    padding-top: 30px;

}

.right {
    padding-right: 30px;
    padding-top: 30px;
    /*background-color: #e0a800;*/

}

.spielfeld {
    margin: auto;
    position: absolute;
    /*width: inherit;*/
    height: 80%;
}

.wuerfel_1 {

    margin: auto;
}

#wuerfel{
    border-radius: 17px;
}

/*

!!!!!!SO ZENTRIERT MAN DEN INHALT EINER DIV BOX!!!!!!!!!!


*/

.logo {
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo_image {

    width: 20%;
    margin: auto;
    padding-top: 20px;

}

.spieleranzahl {

    padding-top: 2.5em;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin: auto;

}

.inner {

    display: flex;
    flex-direction: column;
}

.btn {
    align-items: center;
    justify-content: center;

    margin: auto;
    border-radius: 5px;

}

.zurueck {
    align-items: center;
    justify-content: center;
    padding-top: 12px;
    margin: auto;

}

.zurueck:visited {
    color: white;
    text-decoration: none;
}

h3 {
    text-align: center;
}

.spielernamen {

    align-items: center;
    justify-content: center;
    width: 30%;
    margin: auto;

}

.mb-3 {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.awesame_container{

    display: flex;
}


.footer {
    background-color: white;
    color: black;

    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 2.5em;
    text-align: center;

}

.ranking_endstand{
    width: 40%;
   margin: auto;
    font-weight: bold;

}

.tr2{
    opacity: 0.75;
}

.tr3{
    opacity: 0.5;
}
.tr4{
    opacity: 0.25;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#points_no_btn{
    align-items: center;
    justify-content: center;
    margin: auto;
}