/* line 5, ../../../../../../../.rvm/gems/ruby-2.0.0-p648/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../.rvm/gems/ruby-2.0.0-p648/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../.rvm/gems/ruby-2.0.0-p648/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../.rvm/gems/ruby-2.0.0-p648/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../.rvm/gems/ruby-2.0.0-p648/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../.rvm/gems/ruby-2.0.0-p648/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../.rvm/gems/ruby-2.0.0-p648/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../.rvm/gems/ruby-2.0.0-p648/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../.rvm/gems/ruby-2.0.0-p648/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../scss/style.scss */
body {
  /*font-family: "DK Lemon Yellow Sun";
  font-family: "Skia";*/
  font-family: "Arial Rounded MT Bold";
  /*display: flex;*/
  color: #000000;
  font-size: 17px;
}

/* line 21, ../scss/style.scss */
.navbar {
  background-color: #ffffff;
}

/* line 25, ../scss/style.scss */
.nav-link {
  color: #000000;
}

/* line 29, ../scss/style.scss */
.nav-link:hover {
  color: #ffffff;
  background-color: #708090;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 37, ../scss/style.scss */
.left {
  width: 15%;
  align-items: center;
  justify-content: center;
  height: 400px;
}

/* line 44, ../scss/style.scss */
.middle {
  width: 45%;
  padding-top: 30px;
}

/* line 50, ../scss/style.scss */
.right {
  /* padding-right: 5%;
   padding-top: 30px;
   padding-left: 5%;
*/
  /*align-items: center;*/
  padding-top: 10px;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  /*background-color: #e0a800;*/
}

/* line 67, ../scss/style.scss */
.pointtableImg {
  padding-left: 60px;
  padding-bottom: 20px;
}

/* line 72, ../scss/style.scss */
.pointtable {
  padding-top: 20px;
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
}

/* line 78, ../scss/style.scss */
.board {
  margin: auto;
  position: absolute;
  /*width: inherit;*/
  height: 80%;
}

/* line 85, ../scss/style.scss */
.dice1 {
  margin: auto;
  display: table;
}

/* line 91, ../scss/style.scss */
.dice1 image {
  display: table-cell;
  vertical-align: center;
}

/* line 96, ../scss/style.scss */
#dice {
  border-radius: 17px;
  margin: auto;
  display: table-cell;
  vertical-align: center;
}

/*
!!!!!!SO ZENTRIERT MAN DEN INHALT EINER DIV BOX!!!!!!!!!!
*/
/* line 107, ../scss/style.scss */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 114, ../scss/style.scss */
.logoImage {
  width: 20%;
  margin: auto;
  padding-top: 20px;
}

/* line 122, ../scss/style.scss */
.playerQuantity {
  padding-top: 2.5em;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin: auto;
}

/* line 132, ../scss/style.scss */
.inner {
  display: flex;
  flex-direction: column;
}

/* line 138, ../scss/style.scss */
.btn {
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 5px;
}

/* line 147, ../scss/style.scss */
.back {
  align-items: center;
  justify-content: center;
  padding-top: 12px;
  margin: auto;
}

/* line 155, ../scss/style.scss */
.back a {
  text-decoration: none;
  color: #ffffff;
}

/* line 160, ../scss/style.scss */
.back:visited {
  color: #ffffff;
  text-decoration: none;
}

/* line 165, ../scss/style.scss */
h3 {
  text-align: center;
}

/* line 169, ../scss/style.scss */
.playerNames {
  align-items: center;
  justify-content: center;
  width: 30%;
  margin: auto;
}

/* line 178, ../scss/style.scss */
.mb-3 {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/* line 185, ../scss/style.scss */
.awesomeContainer {
  height: 800px;
  display: flex;
}

/* line 191, ../scss/style.scss */
.footer {
  background-color: #ffffff;
  color: #000000;
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 2.5em;
  text-align: center;
}

/* line 203, ../scss/style.scss */
.rankingFinal {
  width: 40%;
  margin: auto;
  font-weight: bold;
}

/* line 210, ../scss/style.scss */
.tr2 {
  opacity: 0.8;
}

/* line 214, ../scss/style.scss */
.tr3 {
  opacity: 0.6;
}

/* line 217, ../scss/style.scss */
.tr4 {
  opacity: 0.4;
}

/* line 221, ../scss/style.scss */
#overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}

/* line 235, ../scss/style.scss */
#secondOverlay {
  position: fixed;
  /* Sit on top of the page content */
  width: 60%;
  /* Full width (cover the whole page) */
  height: 60%;
  /* Full height (cover the whole page) */
  top: 20%;
  left: 20%;
  right: 25%;
  bottom: 25%;
  background-color: #ffffff;
  /* Black background with opacity */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}

/* line 253, ../scss/style.scss */
#demo {
  padding-left: -50px;
}

/* line 259, ../scss/style.scss */
.container {
  height: 600px;
  width: 375px;
}

/* line 265, ../scss/style.scss */
.col-sm-3 {
  background-color: lightsalmon;
  height: 100px;
  width: 100px;
  padding: 0;
  margin: 0;
  border-width: 1px;
  border-style: solid;
}

/* line 276, ../scss/style.scss */
.col-sm-6 {
  background: url("../images/logo.png");
  -webkit-background-size: 190px;
  background-size: 190px;
  width: 200px;
  height: 100px;
  padding: 0;
  margin: 0;
}

/* line 287, ../scss/style.scss */
.emojisSmall {
  width: 40px;
}

/* line 294, ../scss/style.scss */
.boardTable {
  /*padding: 40px;*/
  width: 100%;
  height: 100%;
  overflow: visible;
}

/* line 302, ../scss/style.scss */
.boardTable img {
  width: 400px;
  height: 300px;
}

/* line 307, ../scss/style.scss */
.tableRow {
  height: 25%;
  overflow: visible;
}

/* line 314, ../scss/style.scss */
.cell {
  display: block;
  /*width: auto;*/
  height: auto;
  float: left;
  width: 25%;
  position: relative;
  border-right: 3px double transparent;
  /*box-sizing: border-box;*/
}

/* line 328, ../scss/style.scss */
.rot1 {
  transform: rotate(90deg);
  height: 10px;
  width: 10px;
}

/* line 334, ../scss/style.scss */
.mb-3 {
  align-items: center;
  justify-content: center;
  margin: auto;
}

/* line 341, ../scss/style.scss */
.cell img {
  width: 25px;
  height: 25px;
}

/* line 347, ../scss/style.scss */
.cell .spacer {
  width: 100%;
  height: auto;
}

/* line 354, ../scss/style.scss */
.boardLeft, .boardRight {
  width: 25%;
  float: left;
}

/* line 359, ../scss/style.scss */
.boardMiddle {
  width: 50%;
  float: left;
}

/* line 364, ../scss/style.scss */
.boardLeft .cell, .boardRight .cell {
  width: 100%;
}

/* line 369, ../scss/style.scss */
.boardMiddle img {
  width: 90%;
  height: auto;
  padding-left: 7%;
  padding-top: 7%;
  margin: auto;
}

/* line 377, ../scss/style.scss */
.field {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

/* line 386, ../scss/style.scss */
.inner .impressumText {
  font-weight: bold;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
}

/* line 396, ../scss/style.scss */
h6 {
  align-items: center;
  justify-content: center;
  margin: auto;
}

/* line 403, ../scss/style.scss */
.cell .playerFigure {
  width: 30%;
  height: auto;
  padding-left: 10px;
  padding-top: 10px;
}

/* line 412, ../scss/style.scss */
#text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 35px;
  color: #000000;
  transform: translate(-60%, -50%);
  /*text-shadow: 5px 5px 5px black;*/
  -ms-transform: translate(-60%, -50%);
}

/* line 423, ../scss/style.scss */
.registerOverlay {
  color: #708090;
}

/* line 427, ../scss/style.scss */
.registerOverlay:hover {
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
  text-decoration: none;
}

/* line 433, ../scss/style.scss */
.col-xs-12 .form-group {
  padding-left: 20px;
}

/* line 436, ../scss/style.scss */
.col-xs-12 .loginBtn {
  margin-left: 35px;
}

/* line 440, ../scss/style.scss */
.modal-body .col-xs-12 {
  padding-left: 20px;
}

/* line 444, ../scss/style.scss */
h1 {
  font-size: 30px;
}

/* line 447, ../scss/style.scss */
h2 {
  font-size: 25px;
  text-align: center;
}

/* line 451, ../scss/style.scss */
h4 {
  font-size: 18px;
  line-height: 125%;
}
