.test{
    height: 600px;
    width: 370px;
    background-color: #e0a800;

    padding: 0;
}

.col-sm-3{

    background-color: #007bff;
    height: 100px;
    width: 100px;
    padding: 0;
    margin: 0;
}

.col-sm-6{
    background-color: #1b1e21;
    width: 200px;
    height: 100px;
    padding: 0;
    margin: 0;
}

.col-lg-3{

    background-color: #5cb85c;
    height: 200px;
    width: 200px;
    padding: 0;
    margin: 0;
}
/*
.kasetn{
    height: 25%;
    width: 25%;
}